* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    /*background: url('/assets/circles-background-dark-tones_60389-166.avif') no-repeat center center/cover;*/
    background-color: black;
    min-height: 100vh;
    overflow: hidden;
}
.hero {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 5em;
    
}
.form-box {
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    padding: 5px;
    border-radius: 2em;
    overflow: hidden;
    margin-top: 40px;
}
.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
}
.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    color: black;
    font-weight: 400;
    transition: 0.3s ease;
}
.toggle-btn:hover {
    transform: scale(1.1);
}
#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: white;
    border-radius: 30px;
    transition: 0.5s;
}
.social-icons {
    margin: 30px auto;
    text-align: center;
}
.social-icons i {
    font-size: 30px;
    color: white;
    box-shadow: 0 0 20px rgba(127, 127, 127, 0.24);
    cursor: pointer;
    transition: 0.2s ease;
    margin-top: 50px;
}
.social-icons i:hover {
    transform: scale(1.2);
}
.input-group {
    top: 150px;
    position: absolute;
    width: 280px;
    transition: 0.5s ease;
}
.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid #ffffff;
    outline: none;
    background: transparent;
    color: white;
    border-radius: 5px;
}
.submit-btn {
    width: 65%;
    padding: 7px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    color: black;
    background: white;
    border: 0;
    outline: none;
    border-radius: 30px;
    border: 2px solid transparent;
    transition: 0.9s ease;
}
.submit-btn:hover {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}
.check-box {
    margin: 30px 10px 30px 0;
}
span {
    color: white;
    font-size: 12px;
}
#login {
    left: 50px;
}
#register {
    left: 450px;
}
input::placeholder {
    color: white;
}
.terms {
    color: white;
}
.create-account {
    color: white;
    font-size: 11px;
    text-decoration: none;
}
.create-account:hover {
    text-decoration: underline;
}
#aa{
   
    text-align: center;
    width: 65%;
    padding: 11px 20px;
    cursor: pointer;
    display: block;
    margin: auto;
    color: black;
    background: rgb(76, 48, 238);
    border: 0;
    outline: none;
    border-radius: 30px;
    border: 2px solid transparent;
   
}
h2{
    text-align: center;
    margin-top: 60px;
    color: rgb(71, 71, 133);
}
